:root {
  --primary-color: rgb(255, 95, 134);
}


*::after, *::before, * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  box-sizing: inherit;
  scroll-behavior: smooth;
}

img, a {
  display: block;
}
/* ********** Btns *********** */

.btn {
  color: #ff2424;
  text-decoration: none;
  font-size: 1.6rem;
  padding: 1.6rem;
}

.btn--card {
  padding: 2.4rem;
}

.btn--filters {
  padding: 0.8rem 1.6rem;
}

.btn--pagination {
  border-radius: 8px;
  color: #fff;
  background-color: rgba(255, 36, 36, 0.8);
}

/* ********** Heading *********** */
.heading__secondary {
  font-size: 3.6rem;
  text-align: center;
  margin-bottom: 4.8rem;
}

/* ********** Reusable *********** */
.container {
  margin: 0 auto;
  max-width: 120rem;
}

/* ********** Font System *********** */

/* ********** Header *********** */

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 3.6rem;
}


/* ********** Nav *********** */

@media screen and (max-width: 960px) {
  html {
    font-size: 60%;
  }
  .main {
    padding: 0 1.6rem;

  }
}

@media screen and (max-width: 712px) {
  html {
    font-size: 55%;
  }
  .heading__secondary {
    margin-bottom: 4.8rem;
  }

  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.6rem;
  }
  .nav {
    display: block;
    order: 1;

    margin-bottom: 3.2rem;
  }
  .logo-container {
    display: flex;
    margin-right: 0 !important;
  }
  .search-form {
    width: 100%;
    margin: 0 !important;
  }
  .search-form__input {
    width: 100%;
    margin-bottom: 3.2rem;
  }
  .search-form__icon {
    margin-top: -3.2rem;
    margin-left: -2.4rem !important;
  }
  .main {
    padding: 0 1.6rem;
  }
  .card {
    width: 100% !important;
  }
}

.nav {
  font-size: 1.8rem;
  margin-inline: auto;
}

.nav__list {
  display: flex;
  gap: 2.4rem;
  list-style: none;
}

.nav__link {
  text-decoration: none;
  color: #000;
  padding: 0.4rem;
  transition: color 0.3s;
}
.nav__link:hover {
  color: #ff2424;
}

/* ********** Logo *********** */

.logo-container {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.logo {
  width: 14rem;
}

.logo-container span {
  font-size: 1.8rem;
  font-weight: bold;
  transform: translateX(-15%);
}

/* ********** Input *********** */

.search-form {
  display: flex;
  align-items: center;
  margin-inline: auto;
}

.search-form label {
  width: 100%;
}

.search-form__input {
  padding: 0.8rem 3.2rem 0.8rem 1.6rem;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: border 0.2s, color 0.2s;
}

.search-form__input::placeholder {
  color: #aaa;
}

.search-form__input:focus, .search-form__input:active {
  border: 1px solid #ff2424;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.search-form__icon {
  width: 1.6rem;
  margin-left: -2rem;
}

/* ********** Filters *********** */

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1.6rem;
  margin-bottom: 3.6rem;
}

.filters-form {
  display: flex;
  gap: 1.6rem;
}
.filters-form select {
  padding: 0.8rem;
  border-radius: 24px;
  outline: none;
  background-color: #fff;
  border: 1px solid #000;
}

.btn--filters {
  border-radius: 24px;
  border: 1px solid #000;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s;
  text-decoration: none;
}

/* ********** Card *********** */

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  align-items: center;
  justify-items: center;
  gap: 3.6rem;
  margin-bottom: 4.8rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  transition: all 0.3s;
}

.card__picture img{
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  height: 28rem;
  margin-bottom: 2.4rem;
}

.card__description {
  height: 100%;
}

.card__description {
  padding: 2.4rem;
}

.card__description p {
  max-width: 32rem;
  font-size: 1.4rem;
  border-radius: 8px;
  line-height: 1.5;
}

.card__description h4 {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 1.6rem;
}

/* *********** Pagination ********** */
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 9.6rem;
}

#page {
  background-color: rgba(255, 36, 36, 0.8);
  padding: 1.2rem 1.6rem;
  border-radius: 8px;
  font-size: 2rem;
  color: #fff;
}

/* *********** Footer ********** */
.footer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  padding-bottom: 4.8rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.footer h2 {
  text-align: start;
  margin-bottom: 2.4rem;
}
.footer__description {
  grid-column: 1 / 8;
  font-size: 1.4rem;
  line-height: 1.6;
}
.footer__picture {
  grid-column: 9 / 12;
  grid-row: 1 / 3;
}
.footer__picture img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.footer .btn {
  padding: 0;
  grid-column: 1 / 4;

}
